.loaderWrapper {
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  position: relative;
}

.loader {
  border: 8px solid transparent;
  border-top: 8px solid #36b049;
  border-right: 8px solid #36b049;
  border-left: 8px solid #36b049;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
