.accountInfoWrapper {
  height: 50%;
  background-color: #fff;
}

.accountInfoContainer {
  padding: 40px 20px 30px 20px;
  width: 100%;
  background-color: #fff;
}

.transactionInfo {
  padding: 20px;
}

.transactionInfoHeader {
  margin: 0;
  text-align: center;
}
.transactionInfo {
  background-color: #f5f5f5;
}
