.header {
    background-color: #36b049;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuNavWrapper {
    width: 25%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mainNavigationNotLoggedIn {
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
	align-items: center;
	cursor: pointer;
}

.mainNavigationNotLoggedInImg {
    height: 20px;
    margin-left: 8px;
}

.headerTitle {
    width: 50%;
    color: #fff;
    text-align: center;
}
