.createWalletWrapper {
  background-color: #f1f1f1;
  padding: 20px;
  height: 100%;
}

.createWalletHeading {
  margin-bottom: 30px;
}

.createWalletForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createWalletButton {
  margin-top: 15px;
}
